<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FishContent Indonesia</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
        
</head>



<body class="font-poppins bg-slate-100">
        <header class="bg-slate-100">

            @include('components/navbar')

        </header>
        <main class="container mx-auto">
            <h2 class="text-center mt-28">Ruang Edukasi</h2>
            <p class="text-center mt-8">Tempat dimana kamu bisa belajar perikanan dan akuatik!</p>
            <div class="mt-36" >
                <section class=" py-6 text-center items-center gap-16 flex flex-col md:flex-row md:text-left md:py-36    ">
                    <div class="basis-1/2">
                        <img src="images/ed1.webp" alt="ini cupang" class="h-full mx-auto ">
                    </div>
                    <div class="basis-1/2">
                        <h3 class="mb-5 text-xl font-bold lg:mb-12 xl:text-4xl">Cara berternak ikan cupang</h3>
                        <p class="text-sm mb-12  lg:text-base xl:text-lg">Disini kamu akan belajar cara membudidayakan ikan cupang secara lengkap. Materi disajikan melalui vidio dan juga E-Book pembelajaran. Kamu juga bisa belajar secara syncronous dengan menghubungi tentor yang tersedia. </p>
                        <button class="btn btn-third">Belajar sekarang</button>
                    </div>
                </section>
                <section class=" py-6 text-center items-center gap-16 flex flex-col md:flex-row-reverse md:text-left md:py-36    ">
                    <div class="basis-1/2">
                        <img src="images/grapes.webp" alt="ini cupang" class="h-full mx-auto  ">
                    </div>
                    <div class="basis-1/2">
                        <h3 class="mb-5 text-xl font-bold lg:mb-12 xl:text-4xl">Best Fresh Grapes </h3>
                        <p class="text-sm mb-12  lg:text-base xl:text-lg">but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be.</p>
                        <button class="btn btn-third">Buy now</button>
                    </div>
                </section>
                <section class=" py-6 text-center items-center gap-16 flex flex-col md:flex-row md:text-left md:py-36    ">
                    <div class="basis-1/2">
                        <img src="images/gauva.webp" alt="ini cupang" class="h-full   mx-auto">
                    </div>
                    <div class="basis-1/2">
                        <h3 class="mb-5 text-xl font-bold lg:mb-12 xl:text-4xl">Best Fresh Gauva </h3>
                        <p class="text-sm mb-12  lg:text-base xl:text-lg">but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be.</p>
                        <button class="btn btn-third">Buy now</button>
                    </div>
                </section>
            </div>
        </main>

        @include('components/footer')

</body>
</html>
