<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FishContent Indonesia</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
  
  <script src="./js/login.js" defer></script>
  
</head>

  <body class=" bg-login bg-cover min-h-screen  font-poppins  ">
    <header class="">
        <nav class="">
            <div class="container relative flex justify-between lg:justify-end mx-auto py-6 ">
              <a class="flex items-center gap-4 "  href="/" >
                <img
                  src="../images/icon.webp"
                  alt="logo"
                  class="max-w-[3rem] rounded-md"
                />
                <span class="text-base text-black max-w-[7rem] md:text-lg md:max-w-max lg:text-2xl uppercase font-bold ">fishcontent indonesia</span>
              </a>
            </div>
          </nav>

    </header>
    <main class="w-full min-h-[90vh] flex items-center justify-center">
        <div class="w-11/12  max-w-lg lg:max-w-screen-2xl flex flex-col gap-6 lg:gap-0 mx-auto justify-center lg:flex-row lg:justify-between  ">
            <div class="basis-2/5 lg:mt-[1%]">
                <h2 class="text-center text-2xl mb-5 leading-normal lg:text-left lg:text-3xl xl:text-4xl xl:leading-[1.6] lg:leading-[1.6] ">Jadilah bagian dari FishContent Indonesia untuk menikmati fasilitas yang ada.</h2>
                <p class="text-lg hidden lg:block font-medium opacity-100">Belum memililki akun? lakukan registrasi <a class="text-blue-700"  href="/regis"> disini!</a></p>
            </div>
            <div class="basis-96 ">

                
                @include('components/toast')
               

                <form action="/login" method="POST">
                    <div class="relative mb-5">
                        <label for="email-in" class="text-base block lg:text-lg font-medium mb-1">Masukkan Email</label>
                        <input type="email" name="email" class="input">
                        <small class="mt-2 text-red-600 hidden validate"></small>
                    </div>
                    <div class="relative mb-2 ">
                        <label for="password required-in" class="text-base block lg:text-lg font-medium mb-1">Masukkan password</label>
                        <input type="password" name="password" class="input">
                        <button class="absolute top-[72%] -translate-y-[50%] right-2.5 text-slate-400 hover:text-slate-800 "><i class="fa-solid fa-eye"></i></button>
                        <small class="text-red-600 mt-2 hidden validate"></small>
                    </div>
                    <a href="/" class="block text-right mb-8 ">lupa password?</a>
                    <input type="submit" value="Login" class="btn btn-third w-full">
                    <p class="mt-5 text-base text-center  font-medium opacity-100 lg:hidden ">Belum memililki akun ?, lakukan registrasi <a class="text-blue-700"  href="/regis">disini!</a></p>
                </form>
            </div>
        </div>
    </main>
  </body>
</html>
