<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FishContent Indonesia</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
        
  <link rel="icon" type="image/png" href="../images/icon.webp">
  <script src="./js/regis.js" defer></script>
</head>
  
  <body class=" bg-login bg-cover font-poppins ">
    <header class="">
      <nav class="">
        <div class="container relative flex justify-between lg:justify-end mx-auto py-6 ">
          <a class="flex items-center gap-4"  href="/">
            <img
              src="images/icon.webp"
              alt="logo"
              class="max-w-[3rem] rounded-md"
            />
            <span class="text-base text-black max-w-[7rem] md:text-lg md:max-w-max lg:text-2xl uppercase font-bold">fishcontent indonesia</span>
          </a>
        </div>
      </nav>
    </header>
    <main class="w-full min-h-[85vh] my-16 sm:my-0 flex items-center justify-center">
        <div class="w-11/12  max-w-lg lg:max-w-screen-2xl flex flex-col gap-6  lg:gap-0 mx-auto  justify-center lg:flex-row lg:justify-between  ">
            <div class=" basis-2/5 md:mt-16 lg:mt-[7%]">
                <h2 class="text-center text-xl mb-5 sm:text-2xl md:text-3xl md:leading-normal lg:text-3xl lg:leading-normal xl:leading-[1.5] lg:text-left xl:text-4xl">Jadilah bagian dari FishContent Indonesia untuk menikmati fasilitas yang ada.</h2>
                <p class="text-lg hidden lg:block font-medium opacity-100">Sudah memiliki akun ?, login <a class="text-blue-700" href="/login   "> disini!</a></p>
            </div>
            <div class="basis-[45%] ">
                <form action="/regis" method="POST" class="width-full">
                    {{ csrfField() }}
                    <div class="flex flex-col sm:flex-row   gap-2 lg:gap-8">
                        <div class=" basis-1/2 relative mb-2">
                            <label for="name-in" class="text-base block lg:text-lg font-medium mb-1">Nama</label>
                            <input type="text" value="" name="nama"  class="input"  id="name-in"  >
                            <small class="mt-2 text-red-600 hidden validate"></small>
                        </div>
                        <div class="basis-1/2  relative mb-2">
                            <label for="telp-in" class="text-base block lg:text-lg font-medium mb-1">Telepon</label>
                            <input type="tel" name="telp" value=""  placeholder="08" name="telp" class="input"  id="telp-in"  >
                            <small class="text-red-600 mt-2 hidden validate"></small>
                        </div>
                    </div>
                    <div class="flex flex-col sm:flex-row   gap-2 lg:gap-8">
                        <div class=" basis-1/2 relative mb-2">
                            <label for="username-in" class="text-base block lg:text-lg font-medium mb-1">Username</label>
                            <input type="text" value="" name="username"  class="input"  id="username-in"  >
                            <small class="mt-2 text-red-600 hidden validate"></small>
                        </div>
                        <div class="basis-1/2  relative mb-2">
                            <label for="jk-in" class="text-base block lg:text-lg font-medium mb-1">Jenis Kelamin</label>
                            <select name="gender" id="jk-in" class="input">
                                <option value="" selected disabled >Pilih Jenis kelamin</option>
                                <option value="Laki-laki">Laki-laki</option>
                                <option value="Perempuan">Perempuan</option>
                                <option value="hmmm">Lainnya</option>
                            </select>
                            <small class="text-red-600 mt-2 hidden validate"></small>
                        </div>
                    </div>

                    <div class="flex flex-col sm:flex-row   gap-2 lg:gap-8">
                        <div class="basis-1/2  relative mb-2 ">
                            <label for="email-in" class="text-base block lg:text-lg font-medium mb-1">Email</label>
                            <input type="email" name="email" value=""  class="input" name="pasword" id="email-in" >
                            <small class="mt-2 text-red-600 hidden validate"></small>
                        </div>
                        <div class="basis-1/2  relative mb-2 ">
                            <label for="prov-in" class="text-base block lg:text-lg font-medium mb-1">Provinsi</label>
                            <select name="prov" value="" class="input" name="prov" id="prov-in"  >
                                <option value=""  disabled selected >Pilihan Provinsi</option>
                            </select>
                            <small class="text-red-600 mt-2 hidden validate"></small>
                        </div>
                    </div>
                    
                    <div class="flex flex-col sm:flex-row gap-2 lg:gap-8">
                        <div class="basis-1/2  relative mb-2 ">
                            <label for="kab-in" class="text-base block lg:text-lg font-medium mb-1">Kabupaten</label>
                            <select name="kab" value="" class="input" name="kab" id="kab-in"  >
                                <option value="" selected disabled >Pilihan Kabupaten / Kota</option>
                            </select>
                            <small class="text-red-600 mt-2 hidden validate"></small>
                        </div>
                        
                        <div class="basis-1/2  relative mb-2 ">
                            <label for="kel-in" class="text-base block lg:text-lg font-medium mb-1">Kecamatan</label>
                            <select name="kec" value="" class="input" name="kec" id="kel-in"  >
                                <option value="" selected disabled >Pilihan Kecamatan</option>
                            </select>
                            <small class="text-red-600 mt-2 hidden validate"></small>
                        </div>
                        
                    </div>
                    <div class="flex flex-col sm:flex-row gap-2 lg:gap-8">
                        <div class="basis-1/2  relative mb-2 ">
                            <label for="detail-in" class="text-base block lg:text-lg font-medium mb-1">Detail alamat</label>
                            <input type="text" name="detail" value="" class="input" id="detail-in" >
                            <small class="mt-2 text-red-600 hidden validate"></small>
                        </div>
                        <div class="basis-1/2  relative mb-2 ">
                            <label for="postC-in" class="text-base block lg:text-lg font-medium mb-1">Kode pos</label>
                            <input type="zip" name="kd_pos" value=""  class="input" id="postC-in" >
                            <small class="mt-2 text-red-600 hidden validate"></small>
                        </div>
                    </div>
                    <div class="flex flex-col sm:flex-row gap-2 lg:gap-8">
                        <div class="basis-1/2  relative mb-2 ">
                            <label for="password-in" class="text-base block lg:text-lg font-medium mb-1">Password</label>
                            <input type="password" name="password" value="" class="input" id="pasword-in"   >
                            <button class="absolute top-10 md:top-10 lg:top-[2.8rem] right-2.5 fill-slate-400 hover:fill-slate-800 "><svg class="w-5 h-5 fill-inherit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM432 256c0 79.5-64.5 144-144 144s-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144zM288 192c0 35.3-28.7 64-64 64c-11.5 0-22.3-3-31.6-8.4c-.2 2.8-.4 5.5-.4 8.4c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6z"/></svg></button>
                            <small class="text-red-600 mt-2 hidden validate"></small>
                        </div>
                        <div class="basis-1/2  relative mb-2 ">
                            <label for="passwordConfirm-in" class="text-base block lg:text-lg font-medium mb-1">Konfirmasi Password</label>
                            <input type="password" name="confirm_ps" value="" class="input" id="paswordConfir-in" >
                            <button class="absolute top-10 md:top-10 lg:top-[2.8rem] right-2.5 fill-slate-400 hover:fill-slate-800 "><svg class="w-5 h-5 fill-inherit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM432 256c0 79.5-64.5 144-144 144s-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144zM288 192c0 35.3-28.7 64-64 64c-11.5 0-22.3-3-31.6-8.4c-.2 2.8-.4 5.5-.4 8.4c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6z"/></svg></button>
                            <small class="text-red-600 mt-2 hidden validate">Password tidak sama</small>
                        </div>
                    </div>
                    <input type="submit" value="Buat akun" class="mt-8 btn btn-third w-full">
                    <p class="mt-5 text-base text-center lg:text-left font-medium opacity-100 lg:hidden">Sudah memililki akun ?, login<a class="text-blue-700" href="/login"> disini!</a></p>
                </form>
            </div>  
        </div>
    </main> 
  </body>
</html>