<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FishContent Indonesia</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
        
</head>


<body class="font-poppins">
        <header class="">
            
            @include('components/navbar')

        </header>
        <main>
            <div class="container mx-auto text-center mt-24 ">
                <h2 class="mb-5">Our Services</h2>
                <p class="text-base">There are many variations of passages of Lorem Ipsum available, but the majority have </p>
                <section class=" grid gap-4 mt-16 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 ">
                    <div class="flex relative flex-col items-center   border-[1px] border-gray-200 px-8 py-12 overflow-hidden rounded-lg shadow-lg hover:shadow-2xl hover:scale-[1.03] hover:cursor-pointer duration-300 after:w-full  after:h-2 after:top-0 after:absolute after:rounded-lg hover:after:bg-red-500  after:transition-all">
                        <img src="images/card-item-1.webp" alt="orange">
                        <div class="mt-4">
                            <h4 class="mb-5">Orange</h4>
                            <p class="text-sm md:text-base">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                        </div>
                    </div>
                    <div class=" flex relative flex-col items-center  border-[1px] border-gray-200 px-8 py-12 overflow-hidden rounded-lg shadow-lg hover:shadow-2xl hover:scale-[1.03] hover:cursor-pointer duration-300 after:w-full  after:h-2 after:top-0 after:absolute after:rounded-lg hover:after:bg-yellow-500 after:transition-all">
                        <img src="images/card-item-2.webp" alt="orange">
                        <div class="mt-4">
                            <h4 class="mb-5">Grapes</h4>
                            <p class="text-sm md:text-base">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                        </div>
                    </div>
                    <div class=" flex relative flex-col items-center  border-[1px] border-gray-200 px-8 py-12 overflow-hidden rounded-lg shadow-lg hover:shadow-2xl hover:scale-[1.03] hover:cursor-pointer duration-300 after:w-full  after:h-2 after:top-0 after:absolute after:rounded-lg hover:after:bg-green-500 after:transition-all">
                        <img src="images/card-item-3.webp" alt="orange">
                        <div class="mt-4">
                            <h4 class="mb-5">Guava</h4>
                            <p class="text-sm md:text-base">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                        </div>
                    </div>
                </section>
                <button class="btn btn-third mt-12">Read more</button>
            </div>
        </main>
        
        @include('components/footer')

    </body>
</html>