<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FishContent Indonesia</title>
    @entryPointStyles('app')
    <script src="../../js/dashboard.js" defer></script>
</head>



<body class="font-poppins bg-white  ">
    
    <aside class=" w-full shadow-md">
        <nav class="container mx-auto py-4 flex lg:hidden justify-between ">
            <a href="/" class="flex items-center gap-2 ">
                <img src="./../images/icon.webp" alt="fishcontent" class="w-10 h-10 rounded-md">
                <span class="text-base font-bold max-w-[10rem] leading-none">FishContent Indonesia</span>
            </a>
            <button class="sidebar__toggler"><svg class="h-6 w-6" x-description="Heroicon name: outline/menu" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg></button>
        </nav>
    </aside>
    <div class=" lg:mt-0 w-full max-w-[1920px] mx-auto flex  ">
        <!-- sidebar -->
        @include('dashboard/sidebar')
        <!-- end sidebar -->

        <!-- konten profil/ dashboard awal klik mulai disini bang -->
        <div class=" bg-white flex-1 relative z-0 flex  mi-h-screen">
            <main class="flex-1 profile relative z-0  focus:outline-none xl:order-last">
                <article>
                    <!-- Profile header -->
                    <div>
                        <div>
                            <img class="h-44 sm:h-[14rem] w-full object-cover lg:h-[18rem] bg-login bg-cover" alt="">
                        </div>
                        <div class="w-full mx-auto px-4 sm:px-6 lg:px-8">
                            <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
                                <div class="flex">
                                    <img class="h-24 w-24 rounded-full ring-4 ring-white sm:h-32 sm:w-32"
                                        src="./../images/dashboard/client3.webp" alt="client 3">
                                </div>
                                <div
                                    class="mt-6 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
                                    <div class="sm:hidden 2xl:block mt-6 min-w-0 flex-1">
                                        <h1 class="text-2xl font-bold text-gray-900 truncate">M Ferrari Firmansyah</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden sm:block 2xl:hidden mt-6 min-w-0 flex-1">
                                <h1 class="text-2xl font-bold text-gray-900 truncate">M Ferrari Firmansyah</h1>
                            </div>
                        </div>
                    </div>

                    <!-- Tabs -->
                    <div class="mt-6 sm:mt-2 2xl:mt-5">
                        <div class="border-b border-gray-200">
                            <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
                                <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                                    <!-- Current: "border-pink-500 text-gray-900", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
                                    <a href="#"
                                        class="border-yellow-500 text-gray-900 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm"
                                        aria-current="page"> Profile </a>

                                    <a href="#"
                                        class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
                                        Profil Toko
                                        <span
                                            class="inline-flex justify-center items-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300">Mitra</span>
                                    </a>

                                </nav>
                            </div>
                        </div>
                    </div>

                    <!-- Description list -->
                    <div class=" w-full mx-auto px-4 py-6 sm:px-6 lg:px-8">
                        <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-500">Username</dt>
                                <dd class="mt-1 text-sm text-gray-900">*get username</dd>
                            </div>

                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-500">Nomor Telepon</dt>
                                <dd class="mt-1 text-sm text-gray-900">*get nomor telepon</dd>
                            </div>

                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-500">Tanggal Lahir</dt>
                                <dd class="mt-1 text-sm text-gray-900">*get tanggal lahir</dd>
                            </div>

                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-500">Email</dt>
                                <dd class="mt-1 text-sm text-gray-900">*get Email</dd>
                            </div>

                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-500">Jenis Kelamin</dt>
                                <dd class="mt-1 text-sm text-gray-900">*get jenis kelamin</dd>
                            </div>

                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-500">Alamat</dt>
                                <dd class="mt-1 text-sm text-gray-900">*get alamat</dd>
                            </div>

                            <div class="sm:col-span-2">
                                <dt class="text-sm font-medium text-gray-500">Tentang</dt>
                                <dd class="mt-1 max-w-prose  space-y-5">
                                    <p class="text-sm text-inherit font-normal text-gray-900">Lorem, ipsum dolor sit
                                        amet
                                        consectetur adipisicing elit. Dignissimos error tenetur harum laborum repellat.
                                        Vitae quibusdam atque explicabo, obcaecati debitis magni? Quo ducimus sunt
                                        corporis
                                        modi nisi, quod est laborum saepe maiores obcaecati deserunt rem perferendis
                                        numquam
                                        ab pariatur debitis odio dignissimos nihil aliquid reprehenderit voluptas at
                                        tempora
                                        error necessitatibus. Nesciunt, deserunt tempora laborum omnis commodi error
                                        voluptate dolore earum praesentium. Inventore dolorem consectetur libero
                                        laudantium
                                        veniam adipisci iure molestiae fugiat quo ipsam explicabo natus, temporibus
                                        culpa
                                        accusamus nulla magnam exercitationem sequi officiis, laboriosam placeat
                                        voluptates,
                                        assumenda molestias laborum possimus. Eos quidem, officia mollitia sed
                                        voluptatum
                                        tenetur. Necessitatibus, quasi. Quisquam!.</p>
                                    <p class="text-sm text-inherit font-normal text-gray-900">Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. Modi illum accusamus eligendi incidunt, fugit odit
                                        mollitia. Culpa placeat beatae nesciunt corporis at dolorum magni quaerat
                                        reiciendis
                                        blanditiis? Id excepturi quo modi. Neque commodi iure porro velit, sapiente,
                                        maxime
                                        amet in culpa voluptatibus tempora repellendus dolor officia blanditiis aliquid
                                        repellat assumenda, cum nostrum rerum iusto enim necessitatibus! Mollitia ad
                                        dolorem
                                        odit non facilis laboriosam ipsum deleniti impedit! Temporibus quo aut hic
                                        voluptas
                                        odit dolore in dolor expedita corporis quam, qui, doloribus ab provident, iure
                                        id
                                        deleniti laboriosam nesciunt quod! Soluta quam ullam maiores sint expedita
                                        aspernatur quisquam eos voluptatem corporis magnam.</p>
                                </dd>
                            </div>
                        </dl>
                    </div>
                </article>
            </main>
        </div>


    </div>    
    @!component('components/footer',{
        icon: "./../images/icon.webp"
    })
</body>

</html>