<div class="flex gap-3 items-center border-b border-gray-100">
  <div>
    <img class="w-10 h-10 object-cover" src="{{imageUrl}}" alt="{{alt}}">
  </div>
  <div class="flex flex-col gap-1">
    <a class="text-sm hover:underline cursor-pointer font-semibold">{{title}}</a>
    <p class="text-xs">{{thread}} Thread | {{post}} Post</p>
  </div>
</div>